<a href="https://colab.research.google.com/github/callor/Callor-Python-2024/blob/master/%EA%B8%B0%ED%9B%84%EB%B6%84%EC%84%9D_jpynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<excel 파일 여는 코드>

-파일 업로드

## 이미 있는 .xlsx 파일 지우기.
!rm *.xlsx

## 파일 업로드, 여러개 선택 가능.
from google.colab import files
uploaded = files.upload()

In [5]:
# 판다스 최신 라이브러리를 이용한 엑셀파일 바로 가져오기
import pandas as pd
df=pd.read_excel(r'/content/drive/MyDrive/광주광역시_기온데이터_1904-2024_20240930134052.xlsx',  engine='openpyxl')


# 전체 데이터 확인
print(df)

       지점번호 지점명         일시  평균기온(℃)  최고기온(℃)    최고기온시각  최저기온(℃)    최저기온시각  \
0       156  광주 1939-05-01     14.0     23.4       NaN      7.2       NaN
1       156  광주 1939-05-02     10.3     19.9       NaN      3.6       NaN
2       156  광주 1939-05-03     12.3     23.5       NaN      1.4       NaN
3       156  광주 1939-05-04     15.9     24.5       NaN      6.6       NaN
4       156  광주 1939-05-05     18.8     25.2       NaN     15.0       NaN
...     ...  ..        ...      ...      ...       ...      ...       ...
31194   156  광주 2024-09-25     23.8     29.5  15:04:00     18.4  06:32:00
31195   156  광주 2024-09-26     24.4     28.2  12:10:00     20.4  06:17:00
31196   156  광주 2024-09-27     23.5     28.7  14:58:00     19.6  06:16:00
31197   156  광주 2024-09-28     23.7     29.3  14:51:00     19.6  06:28:00
31198   156  광주 2024-09-29     23.3     29.1  14:41:00     19.1  06:57:00

         일교차
0      ,16.2
1      ,16.3
2      ,22.1
3      ,17.9
4      ,10.2
...      ...
31194  ,11.1
31195   ,7.8
31196   ,9.1
31197   ,9.7
31198    ,10

[31199 rows x 9 columns]

In [24]:
# 엑셀 헤더명(첫 라인) 칼럼들 가져오기
# df.columns 속성은 엑셀파일의 첫 라인을 list 로 가지고 있다
header = df.columns
print(header)


# 최고기온인 날짜, 온도 최저기온인 날짜, 온도 찾기
최고기온 = -100
최고날짜 = ''
최저기온 = 100
최저날짜 = ''
for index in df['평균기온(℃)'].index:
  f기온 = float(df['평균기온(℃)'][index])
  if 최고기온 < f기온:
    최고기온 = f기온
    # 최고기온인 날짜 찾기
    최고날짜 = df['일시'][index]


  if 최저기온 > f기온:
    최저기온 = f기온
    최저날짜 = df['일시'][index]

print('=' * 100)
print('최고기온 : ',str(최고날짜)[:10], 최고기온, ', 최저기온 : ', str(최저날짜)[:10],최저기온)
print('=' * 100)

Index(['지점번호', '지점명', '일시', '평균기온(℃)', '최고기온(℃)', '최고기온시각', '최저기온(℃)',
       '최저기온시각', '일교차'],
      dtype='object')
====================================================================================================
최고기온 :  2018-08-02 32.0 , 최저기온 :  1943-01-12 -11.0
====================================================================================================

In [26]:
최고기온 = -100
최고날짜 = ''
최저기온 = 100
최저날짜 = ''


# list 값을 index(정수) 대신 칼럼명을 사용하려면 iterrows() 함수를 사용해야 한다
for index, row in df.iterrows(): # Use iterrows() to iterate through the DataFrame
  f기온 = float(row['평균기온(℃)']) # Access values using the row variable
  if 최고기온 < f기온:
    최고기온 = f기온
    # 최고기온인 날짜 찾기
    최고날짜 = row['일시']


  if 최저기온 > f기온:
    최저기온 = f기온
    최저날짜 = row['일시']


print('=' * 100)
print('최고기온 : ',str(최고날짜)[:10], 최고기온, ', 최저기온 : ', str(최저날짜)[:10],최저기온)
print('=' * 100)

====================================================================================================
최고기온 :  2018-08-02 32.0 , 최저기온 :  1943-01-12 -11.0
====================================================================================================